<div class="parsers" [formGroup]="navForm" *ngIf="!!navForm">
  <nav-expand routerLinkActive="active">
     <div class="title">
      <div class="inputContainer">
        <div class="inlineGroup">
          <nav-link
            class="titlelink" (click)="flipAll()">
            <span>Toggle Parsers</span>
            <span>&nbsp;&nbsp;</span>
          </nav-link>
          <ng-toggle-button class="ngToggleButton" [formControl]="navForm.get('selectAll')"></ng-toggle-button>
        </div>
      </div>
    </div>
    <div
      class="item"
      formArrayName="parserStatuses"
      *ngFor="let item of navForm.get('parserStatuses').controls; let i = index"
      [ngClass]="{
        unsaved: userConfigurations[i].current != null,
        disabled: userConfigurations[i].saved.disabled
      }">
      <div class="inputContainer" [formGroupName]="i">
        <div class="inlineGroup">
          <nav-link
            class="parserlink"
            [ngClass]="{
              unsaved: userConfigurations[i].current != null,
              disabled: userConfigurations[i].saved.disabled
            }"
            [routerLink]="['/parsers', i]"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true, dummy: dummy }"
          >
            {{ userConfigurations[i].saved.configTitle || lang.noTitle }}
          </nav-link>
          <ng-toggle-button
            class="ngToggleButton"
            [formControl]="item.controls[userConfigurations[i].saved.parserId]"
          ></ng-toggle-button>
        </div>
      </div>
    </div>
  </nav-expand>
</div>
