<div class="parsers" [formGroup]="navForm" *ngIf="!!navForm">
  <nav-expand routerLinkActive="active">
    <div class="title">
      <div class="inputContainer">
        <div class="inlineGroup">
          <nav-link class="titlelink" (click)="flipAll()">
            <span>Toggle Parsers</span>
            <span>&nbsp;&nbsp;</span>
          </nav-link>
          <ng-toggle-button class="ngToggleButton" [formControl]="navForm.get('selectAll')"></ng-toggle-button>
        </div>
      </div>
    </div>
    <div
      class="item"
      formArrayName="parserStatuses"
      *ngFor="let item of navForm.get('parserStatuses').controls; let i = index"
      [ngClass]="{
        unsaved: userConfigurations[i].current != null,
        disabled: userConfigurations[i].saved.disabled
      }"
    >
      <ng-container *ngVar="item.controls[userConfigurations[i].saved.parserId] as toggle">
        <div class="inputContainer" [formGroupName]="i" (click)="emuClick(toggle)">
          <div class="inlineGroup">
            <nav-link
              class="parserlink"
              [ngClass]="{
                unsaved: userConfigurations[i].current != null,
                disabled: userConfigurations[i].saved.disabled
              }"
              [routerLink]="['/parsers', i]"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true, dummy: dummy }"
            >
              <div class="not-emudeck">
                {{ userConfigurations[i].saved.configTitle || lang.noTitle }}
              </div>
              <div class="only-emudeck">
                <p>
                  <img width="120" src="{{imageMap[userConfigurations[i].saved.parserId].img}}" />
                  <span *ngIf="imageMap[userConfigurations[i].saved.parserId].alternative">Non-EmuDeck Parser</span>
                </p>
                <small>{{imageMap[userConfigurations[i].saved.parserId].details}}</small>
              </div>
            </nav-link>
            <ng-toggle-button class="ngToggleButton" [formControl]="toggle"></ng-toggle-button>
          </div>
        </div>
      </ng-container>
    </div>
  </nav-expand>
</div>
