<nav-link routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{
  lang.preview
}}</nav-link>
<nav-link routerLink="/logger" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{
  lang.logger
}}</nav-link>
<nav-link routerLink="/settings" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{
  lang.settings
}}</nav-link>
<nav-expand routerLinkActive="active">
  <nav-link
    class="item"
    [ngClass]="{ unsaved: isExceptionsUnsaved }"
    routerLink="/user-exceptions"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true, dummy: dummy }"
  >
    {{ lang.userExceptions }}
  </nav-link>
</nav-expand>
<nav-link routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{
  lang.about
}}</nav-link>
