<nav-link routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{lang.preview}}</nav-link>
<nav-link routerLink="/logger" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{lang.logger}}</nav-link>
<nav-link routerLink="/settings" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">{{lang.settings}}</nav-link>
<nav-expand routerLinkActive="active">
    <nav-link class="title" [routerLink]="['/parsers', -1]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <span>{{lang.parsers}}</span>
        <span>&nbsp;&nbsp;</span>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 300 300">
            <polyline points="30,110 150,210 270,110" style="stroke-width:30;fill:none;" />
        </svg>
    </nav-link>
    <nav-link class="item" [class.unsaved]="config.current != null" *ngFor="let config of userConfigurations; index as i" [routerLink]="['/parsers', i]" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true, dummy: dummy }">
        {{config.saved.configTitle || lang.noTitle}}
    </nav-link>
</nav-expand>