<div class="entries">
    <ng-container *ngFor="let steamDir of previewData | keys">
        <div class="directory" *ngVar="{ isHidden: false } as directory" [class.hidden]="directory.isHidden">
            <div class="title" (click)="directory.isHidden = !directory.isHidden">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 300 300" height="1em">
                    <polyline points="50,110 150,210 250,110" stroke-width="30" fill="none" />
                </svg>
                <span>{{steamDir}}</span>
            </div>
            <ng-container *ngFor="let steamUser of previewData[steamDir] | keys">
                <div class="user" *ngVar="{ isHidden: false } as user" [class.hidden]="user.isHidden">
                    <div class="title" (click)="user.isHidden = !user.isHidden">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 300 300" height="1em">
                            <polyline points="50,110 150,210 250,110" stroke-width="30" fill="none" />
                        </svg>
                        <span>{{previewData[steamDir][steamUser].username}}</span>
                    </div>
                    <div class="apps">
                        <div class="app" *ngFor="let appID of previewData[steamDir][steamUser].apps | keys">
                            <ng-container *ngVar="previewData[steamDir][steamUser].apps[appID] as app">
                                <div class="topBar">
                                    <div class="title" text-scroll>{{app.title}}</div>
                                    <div class="exe" text-scroll>{{app.executableLocation}}</div>
                                </div>
                                <ng-container *ngIf="(app.currentImageIndex === -1 ? app.steamImage : app.images.value.content[app.currentImageIndex]) as image; else retrievingImages">
                                    <ng-container *ngIf="image.loadStatus === 'notStarted'; else imagesFound">
                                        <div class="image">{{loadImage(app)}}</div>
                                    </ng-container>
                                    <ng-template #imagesFound>
                                        <div class="image" [ngClass]="{'spinnerMessage downloading': image.loadStatus === 'downloading', 'staticMessage failed': image.loadStatus === 'failed', 'littleSpinner': app.images.value.retrieving}" 
                                        (click)="image.loadStatus === 'failed' ? loadImage(app) : null" [style.backgroundImage]="image.loadStatus === 'done' ? ('url(\'' + image.imageUrl + '\')' | safeStyle) : undefined">
                                            <ng-container *ngIf="app.images.value.content.length > (app.steamImage ? 0 : 1)">
                                                <div class="previousImage" (click)="previousImage(app)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 300 300">
                                                        <polyline points="220,50 100,150 220,250" style="stroke-width:15; fill: none;" />
                                                    </svg>
                                                </div>
                                                <div class="nextImage" (click)="nextImage(app)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 300 300">
                                                        <polyline points="80,50 200,150 80,250" style="stroke-width:15; fill: none;" />
                                                    </svg>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ng-template>
                                    <div class="bottomBar">
                                        <div>
                                            <div class="provider" text-scroll>
                                                {{'From ' + image.imageProvider}}
                                            </div>
                                            <div class="imageIndex">
                                                {{(app.currentImageIndex + (app.steamImage ? 2 : 1)) + '/' + (app.images.value.content.length + (app.steamImage ? 1 : 0))}}
                                            </div>
                                        </div>
                                        <div>
                                            <div class="uploader" text-scroll *ngIf="image.imageUploader">
                                                {{'by ' + image.imageUploader}}
                                            </div>
                                            <div class="refresh" *ngIf="app.images.value.retrieving === false && appSettings.offlineMode === false">
                                                <div (click)="refreshImages(app)">Refresh</div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-template #retrievingImages>
                                    <div class="image" [ngClass]="{'spinnerMessage retrieving': app.images.value.retrieving, 'staticMessage notFound': !app.images.value.retrieving}"></div>
                                </ng-template>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>
<div class="menu">
    <div class="buttons">
        <div class="generate clickButton" (click)="generatePreviewData()">Generate app list</div>
        <ng-container *ngIf="previewVariables.numberOfListItems > 0 && !previewVariables.listIsUpdating">
            <div class="save clickButton" (click)="save()">Save app list</div>
            <div class="remove clickButton" (click)="remove()">Remove app list</div>
        </ng-container>
    </div>
    <div class="slider" *ngIf="previewVariables.numberOfListItems > 0 && !previewVariables.listIsUpdating">
        <input type="range" min="30" max="100" step="0.25" [value]="appSettings.previewSettings.imageZoomPercentage" (input)="setImageSize($event.target.value)"
            (change)="setImageSize($event.target.value, true)" />
        <div>{{appSettings.previewSettings.imageZoomPercentage | number : '1.0-2'}}%</div>
    </div>
</div>