<div>
    <div class="left"></div>
    <div class="middle"><span>{{getTitle()}}</span></div>
    <div class="right">
        <div *ngIf="minimizable" class="minimize" (click)="minimizeEvent()">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 300 300">
                <polyline points="90,210 210,210" style="stroke-width:15;"/>
            </svg>
        </div><div *ngIf="maximizable" class="maximize" (click)="maximizeEvent()">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 300 300">
                <polyline points="150,90 210,90 210,210 90,210 90,90 150,90" style="stroke-width:15;fill:none;"/>
            </svg>
        </div><div class="close" (click)="closeEvent()">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 300 300">
                <polyline points="80 80 220 220" style="stroke-width:15;"/>
                <polyline points="80 220 220 80" style="stroke-width:15;"/>
            </svg>
        </div>
    </div>
</div>