<div class="upperMenu">
  Upper Menu
</div>
<div class="gamesList">
  <ng-container *ngFor="let steamDir of vdfData | keys">
    <div class="directory" *ngVar="{ isHidden: false } as directory" [class.hidden]="directory.isHidden">
      <div class="title" (click)="directory.isHidden = !directory.isHidden">
        <svg select-arrow-down></svg>
        <span>{{steamDir}}</span>
      </div>
      <ng-container *ngFor="let steamUser of vdfData[steamDir] | keys">
        <div class="user" *ngVar="{ isHidden: false } as user" [class.hidden]="user.isHidden">
          <div class="title" (click)="user.isHidden = !user.isHidden">
            <svg select-arrow-down></svg>
            <span>{{steamUser}}</span>
          </div>
          <div class="apps">
            <ng-container *ngFor="let shortcut of sortedShortcuts(vdfData[steamDir][steamUser].shortcuts.fileData.shortcuts)">
              <div class="app" (click)="setCurrentShortcut(steamDir, steamUser, shortcut)" [class.currentShortcut]="shortcut==currentShortcut">
                <span>{{shortcut.appname}}</span>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
<div class="details">
  <div class="infos" *ngIf="!!currentShortcut">
    <div class="launch" (click)=launchTitle()>Launch Title</div>
    <div class="info">
      <div class="infoLabel">
        <span>FULL SHORTCUT</span>
      </div>
      <div class="infoArea" (click)=toClipboard(currentLaunch)>
        <span>{{currentLaunch}}</span>
      </div>
    </div>
    <div class="info">
      <div class="infoLabel">
        <span>START DIRECTORY</span>
      </div>
      <div class="infoArea" (click)=toClipboard(currentShortcut.StartDir)>
        <span>{{currentShortcut.StartDir}}</span>
      </div>
    </div>
    <div class="info">
      <div class="infoLabel">
        <span>CATEGORIES</span>
      </div>
      <div class="infoArea" (click)=toClipboard(currentCats)>
        <span>{{currentCats}}</span>
      </div>
    </div>
  </div>
  <div class="artworks">
    <ng-container *ngFor="let artworkType of currentArtwork | keys">
      <div class= "artworkContainer">
        <div class="artworkLabel">
          <span>{{artworkSingDict[artworkType].toUpperCase()}}</span>
        </div>
        <img [src]="currentArtwork[artworkType]" class="artwork"/>
      </div>
    </ng-container>
  </div>
</div>
<div class="menu">
  <div class="buttonGroup">
    <div class="menuButton" (click)="refreshGames()">
      Refresh Games
    </div>
  </div>
</div>

