/*!
 *  Roboto - https://github.com/google/roboto/
 *  License - Apache License 2.0
 */

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;

  src: url("../../assets/fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;

  src: url("../../assets/fonts/Roboto-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;

  src: url("../../assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;

  src: url("../../assets/fonts/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;

  src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;

  src: url("../../assets/fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;

  src: url("../../assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;

  src: url("../../assets/fonts/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;

  src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;

  src: url("../../assets/fonts/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;

  src: url("../../assets/fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: italic;

  src: url("../../assets/fonts/Roboto-BlackItalic.ttf") format("truetype");
}

/*!
 *  Hack v2.020 - https://sourcefoundry.org/hack/
 *  Licenses - Fonts: Hack Open Font License + Bitstream Vera license, CSS: MIT License
 */

@font-face {
  font-family: "Hack";
  src: url("../../assets/fonts/hack-regular-webfont.woff?v=2.020")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url("../../assets/fonts/hack-bold-webfont.woff?v=2.020") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url("../../assets/fonts/hack-italic-webfont.woff?v=2.020") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Hack";
  src: url("../../assets/fonts/hack-bolditalic-webfont.woff?v=2.020")
    format("woff");
  font-weight: 700;
  font-style: italic;
}
