:root {
    --color-alert-error-background: #121212;
    --color-alert-error-border: #d81b5e;
    --color-alert-error-text: #c8c8c8;
    --color-alert-info-background: #121212;
    --color-alert-info-border: #1b5ed8;
    --color-alert-info-text: #c8c8c8;
    --color-alert-success-background: #121212;
    --color-alert-success-border: #1bd85e;
    --color-alert-success-text: #c8c8c8;
    --color-logger-autoscroll-button-background: rgba(0,0,0,0);
    --color-logger-autoscroll-button-background-active: #137c38;
    --color-logger-autoscroll-button-background-active-hover: #16ac4b;
    --color-logger-autoscroll-button-background-hover: #2f2f2f;
    --color-logger-autoscroll-button-border: #1db954;
    --color-logger-autoscroll-button-border-active: #137c38;
    --color-logger-autoscroll-button-border-active-hover: #16ac4b;
    --color-logger-autoscroll-button-border-hover: #1bd85e;
    --color-logger-autoscroll-button-text: #a0a0a0;
    --color-logger-autoscroll-button-text-active: #f0fff0;
    --color-logger-autoscroll-button-text-active-hover: #f0fff0;
    --color-logger-autoscroll-button-text-hover: #f0fff0;
    --color-logger-background: #121212;
    --color-logger-border: #040404;
    --color-logger-clear-button-background: rgba(0,0,0,0);
    --color-logger-clear-button-background-active: #179443;
    --color-logger-clear-button-background-hover: #1bd85e;
    --color-logger-clear-button-border: #1db954;
    --color-logger-clear-button-border-active: #179443;
    --color-logger-clear-button-border-hover: #1bd85e;
    --color-logger-clear-button-text: #a0a0a0;
    --color-logger-clear-button-text-active: #f0fff0;
    --color-logger-clear-button-text-hover: #f0fff0;
    --color-logger-error-border: #d81b5e;
    --color-logger-error-button-background: rgba(0,0,0,0);
    --color-logger-error-button-background-active: #137c38;
    --color-logger-error-button-background-active-hover: #16ac4b;
    --color-logger-error-button-background-hover: #2f2f2f;
    --color-logger-error-button-border: #1db954;
    --color-logger-error-button-border-active: #137c38;
    --color-logger-error-button-border-active-hover: #16ac4b;
    --color-logger-error-button-border-hover: #1bd85e;
    --color-logger-error-button-text: #a0a0a0;
    --color-logger-error-button-text-active: #f0fff0;
    --color-logger-error-button-text-active-hover: #f0fff0;
    --color-logger-error-button-text-hover: #f0fff0;
    --color-logger-info-border: #1b5ed8;
    --color-logger-info-button-background: rgba(0,0,0,0);
    --color-logger-info-button-background-active: #137c38;
    --color-logger-info-button-background-active-hover: #16ac4b;
    --color-logger-info-button-background-hover: #2f2f2f;
    --color-logger-info-button-border: #1db954;
    --color-logger-info-button-border-active: #137c38;
    --color-logger-info-button-border-active-hover: #16ac4b;
    --color-logger-info-button-border-hover: #1bd85e;
    --color-logger-info-button-text: #a0a0a0;
    --color-logger-info-button-text-active: #f0fff0;
    --color-logger-info-button-text-active-hover: #f0fff0;
    --color-logger-info-button-text-hover: #f0fff0;
    --color-logger-menu-scrollbar-thumb: rgba(53,53,53,0.5);
    --color-logger-menu-scrollbar-track: rgba(59,59,59,0.3);
    --color-logger-messages-background: #181818;
    --color-logger-messages-scrollbar-thumb: rgba(80,80,80,0.5);
    --color-logger-messages-scrollbar-track: rgba(80,80,80,0.3);
    --color-logger-messages-text: #c8c8c8;
    --color-logger-settings-background: #0c0c0c;
    --color-logger-success-border: #1bd85e;
    --color-logger-success-button-background: rgba(0,0,0,0);
    --color-logger-success-button-background-active: #137c38;
    --color-logger-success-button-background-active-hover: #16ac4b;
    --color-logger-success-button-background-hover: #2f2f2f;
    --color-logger-success-button-border: #1db954;
    --color-logger-success-button-border-active: #137c38;
    --color-logger-success-button-border-active-hover: #16ac4b;
    --color-logger-success-button-border-hover: #1bd85e;
    --color-logger-success-button-text: #a0a0a0;
    --color-logger-success-button-text-active: #f0fff0;
    --color-logger-success-button-text-active-hover: #f0fff0;
    --color-logger-success-button-text-hover: #f0fff0;
    --color-logger-text-wrap-button-background: rgba(0,0,0,0);
    --color-logger-text-wrap-button-background-active: #137c38;
    --color-logger-text-wrap-button-background-active-hover: #16ac4b;
    --color-logger-text-wrap-button-background-hover: #2f2f2f;
    --color-logger-text-wrap-button-border: #1db954;
    --color-logger-text-wrap-button-border-active: #137c38;
    --color-logger-text-wrap-button-border-active-hover: #16ac4b;
    --color-logger-text-wrap-button-border-hover: #1bd85e;
    --color-logger-text-wrap-button-text: #a0a0a0;
    --color-logger-text-wrap-button-text-active: #f0fff0;
    --color-logger-text-wrap-button-text-active-hover: #f0fff0;
    --color-logger-text-wrap-button-text-hover: #f0fff0;
    --color-logger-timestamp-button-background: rgba(0,0,0,0);
    --color-logger-timestamp-button-background-active: #137c38;
    --color-logger-timestamp-button-background-active-hover: #16ac4b;
    --color-logger-timestamp-button-background-hover: #2f2f2f;
    --color-logger-timestamp-button-border: #1db954;
    --color-logger-timestamp-button-border-active: #137c38;
    --color-logger-timestamp-button-border-active-hover: #16ac4b;
    --color-logger-timestamp-button-border-hover: #1bd85e;
    --color-logger-timestamp-button-text: #a0a0a0;
    --color-logger-timestamp-button-text-active: #f0fff0;
    --color-logger-timestamp-button-text-active-hover: #f0fff0;
    --color-logger-timestamp-button-text-hover: #f0fff0;
    --color-main-body-background: #121212;
    --color-main-body-spinner: #0ad868;
    --color-nav-background: #121212;
    --color-nav-link-border: rgba(0,0,0,0);
    --color-nav-link-border-active: #1ed660;
    --color-nav-link-border-hover: rgba(0,0,0,0);
    --color-nav-link-text: #a0a0a0;
    --color-nav-link-text-active: #f0fff0;
    --color-nav-link-text-hover: #f0fff0;
    --color-nav-scrollbar-thumb: rgba(80,80,80,0.5);
    --color-nav-scrollbar-track: rgba(80,80,80,0.3);
    --color-parser-menu-scrollbar-thumb: rgba(53,53,53,0.5);
    --color-parser-menu-scrollbar-track: rgba(59,59,59,0.3);
    --color-parsers-background: #181818;
    --color-parsers-browse-button-background: rgba(0,0,0,0);
    --color-parsers-browse-button-background-active: #179443;
    --color-parsers-browse-button-background-hover: #1bd85e;
    --color-parsers-browse-button-border: #1db954;
    --color-parsers-browse-button-border-active: #179443;
    --color-parsers-browse-button-border-hover: #1bd85e;
    --color-parsers-browse-button-text: #a0a0a0;
    --color-parsers-browse-button-text-active: #f0fff0;
    --color-parsers-browse-button-text-hover: #f0fff0;
    --color-parsers-copy-button-background: rgba(0,0,0,0);
    --color-parsers-copy-button-background-active: #179443;
    --color-parsers-copy-button-background-hover: #1bd85e;
    --color-parsers-copy-button-border: #1db954;
    --color-parsers-copy-button-border-active: #179443;
    --color-parsers-copy-button-border-hover: #1bd85e;
    --color-parsers-copy-button-text: #a0a0a0;
    --color-parsers-copy-button-text-active: #f0fff0;
    --color-parsers-copy-button-text-hover: #f0fff0;
    --color-parsers-delete-button-background: rgba(0,0,0,0);
    --color-parsers-delete-button-background-active: #179443;
    --color-parsers-delete-button-background-hover: #1bd85e;
    --color-parsers-delete-button-border: #1db954;
    --color-parsers-delete-button-border-active: #179443;
    --color-parsers-delete-button-border-hover: #1bd85e;
    --color-parsers-delete-button-text: #a0a0a0;
    --color-parsers-delete-button-text-active: #f0fff0;
    --color-parsers-delete-button-text-hover: #f0fff0;
    --color-parsers-down-button-background: rgba(0,0,0,0);
    --color-parsers-down-button-background-active: #179443;
    --color-parsers-down-button-background-disabled: #414141;
    --color-parsers-down-button-background-hover: #1bd85e;
    --color-parsers-down-button-border: #1db954;
    --color-parsers-down-button-border-active: #179443;
    --color-parsers-down-button-border-disabled: #121212;
    --color-parsers-down-button-border-hover: #1bd85e;
    --color-parsers-down-button-text: #a0a0a0;
    --color-parsers-down-button-text-active: #f0fff0;
    --color-parsers-down-button-text-disabled: #9f9f9f;
    --color-parsers-down-button-text-hover: #f0fff0;
    --color-parsers-enable-button-background: rgba(0,0,0,0);
    --color-parsers-enable-button-background-active: #137c38;
    --color-parsers-enable-button-background-active-hover: #16ac4b;
    --color-parsers-enable-button-background-hover: #2f2f2f;
    --color-parsers-enable-button-border: #1db954;
    --color-parsers-enable-button-border-active: #137c38;
    --color-parsers-enable-button-border-active-hover: #16ac4b;
    --color-parsers-enable-button-border-hover: #1bd85e;
    --color-parsers-enable-button-text: #a0a0a0;
    --color-parsers-enable-button-text-active: #f0fff0;
    --color-parsers-enable-button-text-active-hover: #f0fff0;
    --color-parsers-enable-button-text-hover: #f0fff0;
    --color-parsers-error: #ad2f2f;
    --color-parsers-fuzzy-button-background: rgba(0,0,0,0);
    --color-parsers-fuzzy-button-background-active: #137c38;
    --color-parsers-fuzzy-button-background-active-hover: #16ac4b;
    --color-parsers-fuzzy-button-background-hover: #2f2f2f;
    --color-parsers-fuzzy-button-border: #1db954;
    --color-parsers-fuzzy-button-border-active: #137c38;
    --color-parsers-fuzzy-button-border-active-hover: #16ac4b;
    --color-parsers-fuzzy-button-border-hover: #1bd85e;
    --color-parsers-fuzzy-button-text: #a0a0a0;
    --color-parsers-fuzzy-button-text-active: #f0fff0;
    --color-parsers-fuzzy-button-text-active-hover: #f0fff0;
    --color-parsers-fuzzy-button-text-hover: #f0fff0;
    --color-parsers-input-background: #101010;
    --color-parsers-input-background-disabled: #373737;
    --color-parsers-input-background-focus: #101010;
    --color-parsers-input-background-hover: #101010;
    --color-parsers-input-border: #0d7e35;
    --color-parsers-input-border-disabled: #00cc4d;
    --color-parsers-input-border-focus: #00ff7e;
    --color-parsers-input-border-hover: #1bd85e;
    --color-parsers-input-shadow: rgba(0,0,0,0);
    --color-parsers-input-shadow-disabled: rgba(0,0,0,0);
    --color-parsers-input-shadow-focus: rgba(0,255,115,0.43);
    --color-parsers-input-shadow-hover: rgba(0,0,0,0);
    --color-parsers-input-text: #a0a0a0;
    --color-parsers-input-text-disabled: #a0a7a0;
    --color-parsers-input-text-focus: #f0fff0;
    --color-parsers-input-text-hover: #f0fff0;
    --color-parsers-label: #a0a0a0;
    --color-parsers-menu-background: #0c0c0c;
    --color-parsers-menu-border: #040404;
    --color-parsers-save-button-background: rgba(0,0,0,0);
    --color-parsers-save-button-background-active: #179443;
    --color-parsers-save-button-background-hover: #1bd85e;
    --color-parsers-save-button-border: #1db954;
    --color-parsers-save-button-border-active: #179443;
    --color-parsers-save-button-border-hover: #1bd85e;
    --color-parsers-save-button-text: #c8c8c8;
    --color-parsers-save-button-text-active: #c8c8c8;
    --color-parsers-save-button-text-hover: #c8c8c8;
    --color-parsers-select-arrow: #c8c8c8;
    --color-parsers-select-arrow-active: #c8c8c8;
    --color-parsers-select-arrow-hover: #c8c8c8;
    --color-parsers-select-background: #101010;
    --color-parsers-select-background-active: #101010;
    --color-parsers-select-background-hover: #121212;
    --color-parsers-select-border: #0d7e35;
    --color-parsers-select-border-active: rgba(0,255,126,0.28);
    --color-parsers-select-border-hover: #1bd85e;
    --color-parsers-select-option-background: #101010;
    --color-parsers-select-option-background-active: #101010;
    --color-parsers-select-option-background-hover: #101010;
    --color-parsers-select-option-shadow: rgba(200,200,200,0);
    --color-parsers-select-option-shadow-active: #00ff07;
    --color-parsers-select-option-shadow-hover: #00ff69;
    --color-parsers-select-option-text: #c8c8c8;
    --color-parsers-select-option-text-active: #c8c8c8;
    --color-parsers-select-option-text-hover: #c8c8c8;
    --color-parsers-select-text: #c8c8c8;
    --color-parsers-select-text-active: #c8c8c8;
    --color-parsers-select-text-hover: #c8c8c8;
    --color-parsers-test-button-background: rgba(0,0,0,0);
    --color-parsers-test-button-background-active: #179443;
    --color-parsers-test-button-background-hover: #1bd85e;
    --color-parsers-test-button-border: #1db954;
    --color-parsers-test-button-border-active: #179443;
    --color-parsers-test-button-border-hover: #1bd85e;
    --color-parsers-test-button-text: #a0a0a0;
    --color-parsers-test-button-text-active: #f0fff0;
    --color-parsers-test-button-text-hover: #f0fff0;
    --color-parsers-up-button-background: rgba(0,0,0,0);
    --color-parsers-up-button-background-active: #179443;
    --color-parsers-up-button-background-disabled: #414141;
    --color-parsers-up-button-background-hover: #1bd85e;
    --color-parsers-up-button-border: #1db954;
    --color-parsers-up-button-border-active: #179443;
    --color-parsers-up-button-border-disabled: #121212;
    --color-parsers-up-button-border-hover: #1bd85e;
    --color-parsers-up-button-text: #a0a0a0;
    --color-parsers-up-button-text-active: #f0fff0;
    --color-parsers-up-button-text-disabled: #9f9f9f;
    --color-parsers-up-button-text-hover: #f0fff0;
    --color-parsers-user-form-background: rgba(29,29,29,0.7);
    --color-parsers-user-form-scrollbar-thumb: rgba(80,80,80,0.5);
    --color-parsers-user-form-scrollbar-track: rgba(80,80,80,0.3);
    --color-parsers-user-instructions-background: #0a0a0a;
    --color-parsers-user-instructions-item-background: rgba(128,128,128,0.07);
    --color-parsers-user-instructions-item-code-background: #1c1c1c;
    --color-parsers-user-instructions-item-code-text: #047833;
    --color-parsers-user-instructions-item-paragraph-bold-text: #047833;
    --color-parsers-user-instructions-item-paragraph-text: #c8c8c8;
    --color-parsers-user-instructions-item-title-text: #c8c8c8;
    --color-parsers-user-instructions-scrollbar-thumb: rgba(80,80,80,0.5);
    --color-parsers-user-instructions-scrollbar-track: rgba(31,31,31,0.45);
    --color-preview-background: #191919;
    --color-preview-generate-button-background: rgba(0,0,0,0);
    --color-preview-generate-button-background-active: #179443;
    --color-preview-generate-button-background-hover: #1bd85e;
    --color-preview-generate-button-border: #1db954;
    --color-preview-generate-button-border-active: #179443;
    --color-preview-generate-button-border-hover: #1bd85e;
    --color-preview-generate-button-text: #a0a0a0;
    --color-preview-generate-button-text-active: #f0fff0;
    --color-preview-generate-button-text-hover: #f0fff0;
    /*--color-hacks-background: #121212;
    --color-hacks-border: #040404;
    --color-hacks-menu-background: #0c0c0c;
    --color-hacks-add-button-background: rgba(0,0,0,0);
    --color-hacks-add-button-background-active: #179443;
    --color-hacks-add-button-background-hover: #1bd85e;
    --color-hacks-add-button-border: #1db954;
    --color-hacks-add-button-border-active: #179443;
    --color-hacks-add-button-border-hover: #1bd85e;
    --color-hacks-add-button-text: #a0a0a0;
    --color-hacks-add-button-text-active: #f0fff0;
    --color-hacks-add-button-text-hover: #f0fff0;*/
    --color-preview-greedy-button-background: rgba(0,0,0,0);
    --color-preview-greedy-button-background-active: #137c38;
    --color-preview-greedy-button-background-active-hover: #16ac4b;
    --color-preview-greedy-button-background-hover: #2f2f2f;
    --color-preview-greedy-button-border: #1db954;
    --color-preview-greedy-button-border-active: #137c38;
    --color-preview-greedy-button-border-active-hover: #16ac4b;
    --color-preview-greedy-button-border-hover: #1bd85e;
    --color-preview-greedy-button-text: #a0a0a0;
    --color-preview-greedy-button-text-active: #f0fff0;
    --color-preview-greedy-button-text-active-hover: #f0fff0;
    --color-preview-greedy-button-text-hover: #f0fff0;
    --color-preview-image-arrow-background-active: rgba(0,0,0,0);
    --color-preview-image-arrow-background-hover: rgba(0,0,0,0);
    --color-preview-image-arrow-color-active: #fff;
    --color-preview-image-arrow-color-hover: #9b9b9b;
    --color-preview-item-downloaded-info-background: rgba(0,0,0,0.5);
    --color-preview-item-downloaded-info-text: #c2c2c2;
    --color-preview-item-downloaded-title-background: rgba(0,0,0,0.5);
    --color-preview-item-downloaded-title-text: #c2c2c2;
    --color-preview-item-downloading-image-background: #101010;
    --color-preview-item-downloading-image-spinner: #0ad868;
    --color-preview-item-downloading-image-text: #d2f9dc;
    --color-preview-item-empty-background: #101010;
    --color-preview-item-empty-sad-face: #2780c2;
    --color-preview-item-empty-text: #91c2f1;
    --color-preview-item-failed-background: #101010;
    --color-preview-item-failed-sad-face: #9f1546;
    --color-preview-item-failed-text: #d81b5e;
    --color-preview-item-image-border: #000;
    --color-preview-item-retrieving-url-background: #101010;
    --color-preview-item-retrieving-url-spinner: #2780c2;
    --color-preview-item-retrieving-url-text: #91c2f1;
    --color-preview-items-background: #191919;
    --color-preview-menu-background: #0c0c0c;
    --color-preview-menu-border: #040404;
    --color-preview-offline-button-background: rgba(0,0,0,0);
    --color-preview-offline-button-background-active: #137c38;
    --color-preview-offline-button-background-active-hover: #16ac4b;
    --color-preview-offline-button-background-hover: #2f2f2f;
    --color-preview-offline-button-border: #1db954;
    --color-preview-offline-button-border-active: #137c38;
    --color-preview-offline-button-border-active-hover: #16ac4b;
    --color-preview-offline-button-border-hover: #1bd85e;
    --color-preview-offline-button-text: #a0a0a0;
    --color-preview-offline-button-text-active: #f0fff0;
    --color-preview-offline-button-text-active-hover: #f0fff0;
    --color-preview-offline-button-text-hover: #f0fff0;
    --color-preview-save-button-background: rgba(0,0,0,0);
    --color-preview-save-button-background-active: #179443;
    --color-preview-save-button-background-hover: #1bd85e;
    --color-preview-save-button-border: #1db954;
    --color-preview-save-button-border-active: #179443;
    --color-preview-save-button-border-hover: #1bd85e;
    --color-preview-save-button-text: #a0a0a0;
    --color-preview-save-button-text-active: #f0fff0;
    --color-preview-save-button-text-hover: #f0fff0;
    --color-preview-scrollbar-thumb: rgba(80,80,80,0.5);
    --color-preview-scrollbar-track: rgba(80,80,80,0.3);
    --color-theme-background: #0c0c0c;
    --color-theme-delete-button-background: rgba(0,0,0,0);
    --color-theme-delete-button-background-active: #179443;
    --color-theme-delete-button-background-hover: #1bd85e;
    --color-theme-delete-button-border: #1db954;
    --color-theme-delete-button-border-active: #179443;
    --color-theme-delete-button-border-hover: #1bd85e;
    --color-theme-delete-button-text: #a0a0a0;
    --color-theme-delete-button-text-active: #f0fff0;
    --color-theme-delete-button-text-hover: #f0fff0;
    --color-theme-input-background: #101010;
    --color-theme-input-background-focus: #101010;
    --color-theme-input-background-hover: #101010;
    --color-theme-input-border: #0d7e35;
    --color-theme-input-border-focus: #00ff7e;
    --color-theme-input-border-hover: #1bd85e;
    --color-theme-input-shadow: rgba(0,0,0,0);
    --color-theme-input-shadow-focus: rgba(0,255,115,0.43);
    --color-theme-input-shadow-hover: rgba(0,0,0,0);
    --color-theme-input-text: #a0a0a0;
    --color-theme-input-text-focus: #f0fff0;
    --color-theme-input-text-hover: #f0fff0;
    --color-theme-item-background: rgba(0,0,0,0);
    --color-theme-item-background-active: rgba(0,0,0,0);
    --color-theme-item-background-hover: rgba(0,0,0,0);
    --color-theme-item-text: #a0a0a0;
    --color-theme-item-text-active: #a0a0a0;
    --color-theme-item-text-hover: #a0a0a0;
    --color-theme-items-background: #181818;
    --color-theme-items-scrollbar-thumb: rgba(80,80,80,0.5);
    --color-theme-items-scrollbar-track: rgba(80,80,80,0.3);
    --color-theme-load-button-background: rgba(0,0,0,0);
    --color-theme-load-button-background-active: #179443;
    --color-theme-load-button-background-hover: #1bd85e;
    --color-theme-load-button-border: #1db954;
    --color-theme-load-button-border-active: #179443;
    --color-theme-load-button-border-hover: #1bd85e;
    --color-theme-load-button-text: #a0a0a0;
    --color-theme-load-button-text-active: #f0fff0;
    --color-theme-load-button-text-hover: #f0fff0;
    --color-theme-loading-background: rgba(0,0,0,0.9);
    --color-theme-loading-spinner: #2780c2;
    --color-theme-menu-background: rgba(24,24,24,0);
    --color-theme-refresh-button-background: rgba(0,0,0,0);
    --color-theme-refresh-button-background-active: #179443;
    --color-theme-refresh-button-background-hover: #1bd85e;
    --color-theme-refresh-button-border: #1db954;
    --color-theme-refresh-button-border-active: #179443;
    --color-theme-refresh-button-border-hover: #1bd85e;
    --color-theme-refresh-button-text: #a0a0a0;
    --color-theme-refresh-button-text-active: #f0fff0;
    --color-theme-refresh-button-text-hover: #f0fff0;
    --color-theme-reset-all-button-background: rgba(0,0,0,0);
    --color-theme-reset-all-button-background-active: #179443;
    --color-theme-reset-all-button-background-hover: #1bd85e;
    --color-theme-reset-all-button-border: #1db954;
    --color-theme-reset-all-button-border-active: #179443;
    --color-theme-reset-all-button-border-hover: #1bd85e;
    --color-theme-reset-all-button-text: #a0a0a0;
    --color-theme-reset-all-button-text-active: #f0fff0;
    --color-theme-reset-all-button-text-hover: #f0fff0;
    --color-theme-reset-button-background: rgba(0,0,0,0);
    --color-theme-reset-button-background-active: #179443;
    --color-theme-reset-button-background-hover: #1bd85e;
    --color-theme-reset-button-border: #1db954;
    --color-theme-reset-button-border-active: #179443;
    --color-theme-reset-button-border-hover: #1bd85e;
    --color-theme-reset-button-text: #a0a0a0;
    --color-theme-reset-button-text-active: #f0fff0;
    --color-theme-reset-button-text-hover: #f0fff0;
    --color-theme-rules-background: #181818;
    --color-theme-rules-item-background: rgba(0,0,0,0);
    --color-theme-rules-item-background-active: #0c0c0c;
    --color-theme-rules-item-background-hover: #2b2b2b;
    --color-theme-rules-item-square: #ffffff;
    --color-theme-rules-item-text: #a0a0a0;
    --color-theme-rules-item-text-active: #c8c8c8;
    --color-theme-rules-item-text-hover: #c8c8c8;
    --color-theme-save-button-background: rgba(0,0,0,0);
    --color-theme-save-button-background-active: #179443;
    --color-theme-save-button-background-hover: #1bd85e;
    --color-theme-save-button-border: #1db954;
    --color-theme-save-button-border-active: #179443;
    --color-theme-save-button-border-hover: #1bd85e;
    --color-theme-save-button-text: #a0a0a0;
    --color-theme-save-button-text-active: #f0fff0;
    --color-theme-save-button-text-hover: #f0fff0;
    --color-theme-themes-background: #181818;
    --color-theme-themes-item-background: rgba(0,0,0,0);
    --color-theme-themes-item-background-active: rgba(0,0,0,0.35);
    --color-theme-themes-item-background-hover: rgba(55,55,55,0.79);
    --color-theme-themes-item-text: #a0a0a0;
    --color-theme-themes-item-text-active: #d6d6d6;
    --color-theme-themes-item-text-hover: #ccc;
    --color-theme-themes-scrollbar-thumb: rgba(80,80,80,0.5);
    --color-theme-themes-scrollbar-track: rgba(80,80,80,0.3);
    --color-titlebar-background: #121212;
    --color-titlebar-close-background: rgba(0,0,0,0);
    --color-titlebar-close-background-active: #b50d1b;
    --color-titlebar-close-background-hover: #e81123;
    --color-titlebar-close-text: #a0a0a0;
    --color-titlebar-close-text-active: #faf0f1;
    --color-titlebar-close-text-hover: #fdf0f1;
    --color-titlebar-maximize-background: rgba(0,0,0,0);
    --color-titlebar-maximize-background-active: #333333;
    --color-titlebar-maximize-background-hover: #404040;
    --color-titlebar-maximize-text: #a0a0a0;
    --color-titlebar-maximize-text-active: #a0a0a0;
    --color-titlebar-maximize-text-hover: #a0a0a0;
    --color-titlebar-minimize-background: rgba(0,0,0,0);
    --color-titlebar-minimize-background-active: #333333;
    --color-titlebar-minimize-background-hover: #404040;
    --color-titlebar-minimize-text: #a0a0a0;
    --color-titlebar-minimize-text-active: #a0a0a0;
    --color-titlebar-minimize-text-hover: #a0a0a0;
    --color-titlebar-title: #a0a0a0;
}