@import "mixins";
:host {
  width: 100%;
  height: 100%;
  display: grid;
  --item-height: 50px;
  --item-padding: 16px;
  grid-template-areas: 
    "folders individuals parser"
    "menu menu menu";
  grid-template-columns: 180px 180px 1fr;
  grid-template-rows: 1fr auto;
  color: #fff;
  .folders {
    grid-area: folders;
    background-color: seagreen;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    @include webkitScrollbar(nested-form-scrollbar);
    .folder {
      height: var(--item-height);
      padding: var(--item-padding);
    }
  }
  .individuals {
    grid-area: individuals;
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    @include webkitScrollbar(nested-form-scrollbar);
    .individual {
      height: var(--item-height);
      padding: var(--item-padding);
      display: grid;
      grid-template-areas: "label toggle";
      grid-template-columns: 80% 20%;
      .label {
        grid-area: label;
      }
      .toggle {
        grid-area: toggle;
      }
    }
  }
  .parser {
    grid-area: parser;
    background: darkturquoise;
  }

  .menu {
    grid-area: menu;
    background: black;
  }
}
