nav-link {
    display: flex;
    overflow: hidden;

    cursor: default;
    user-select: none;

    flex-shrink: 0;

    >.content {
        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &.titlelink {
        >.content {
            display: flex;
        }
    }
}
