nav-link {
  display: flex;
  overflow: hidden;

  cursor: default;
  user-select: none;
  align-items: center;
  flex-shrink: 0;

  > .content {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: var(--padding-nav-link);
    img {
      vertical-align: middle;
      margin-right: 14px;
    }
  }

  &.titlelink {
    > .content {
      display: flex;
    }
  }
}
