@import 'mixins';

nav-expand {
    display: flex;
    flex-direction: column;

    & >.items {
        display: flex;
        overflow-y: auto;
        flex-direction: column;

        margin: 0;
        padding: 0;

        @include webkitScrollbar(nav-scrollbar, 0.375em);
    }

    & >.title {
        display: flex;
        overflow-y: auto;
        overflow-x: hidden;
        flex-direction: column;

        margin: 0;
        padding: 0;
    }
}
