@import "mixins";
:host{
    position: relative;
    width: 2px;
    background: var(--color-preview-menu-background);
    cursor: ew-resize;
    display: var(--display-nav-border);
    &.dragging{
        background: var(--color-nav-border-drag);
    }
}