:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 180px auto;
  gap: 0px 0px;
  grid-template-areas: "nav" "nav-parsers";
  grid-area: navarea;

  min-width: 7em;
  width: var(--nav-width);
  max-width: 25vw;
}
