@import "mixins";

:host {
    @include ngTextInput();
    @include ngTextInputColor(input, true);
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    display: flex;
    width: 100%;
    min-height: 20px;
    .bubblesContainer {
        display: flex;
        justify-content: left;
        overflow-x: wrap;
        .bubble {
            display: flex;
            align-items: center;
            padding: 5px;
            justify-content: space-between;
            align-items: center;
            background: rgb(141, 26, 135);
            opacity: 0.8;
            border-radius: 10px;
            margin-right:5px;
            span {
                height: 20px;
            }
            .delete {
                margin-left: 0.25em;
            }
        }

    }
}