:host {
    position: relative;

    /* display: flex;
    flex-direction: column; */

    color: black;
    border-color: deepskyblue;
    background-color: white;

    fill: black;

    .display {
        display: grid;

        padding: var(--ng-select-padding, 0);

        cursor: pointer;

        color: inherit;
        border-width: var(--ng-select-border-width, 1px);
        border-style: solid;
        border-color: inherit;
        background-color: inherit;

        align-content: center;
        fill: inherit;

        grid-auto-flow: column;

        >div {
            overflow: hidden;

            cursor: pointer;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        >svg {
            height: 1.2em;
            margin: 0 0 0 auto;

            cursor: pointer;

            fill: inherit;
            polyline {
                cursor: pointer;
            }
        }
    }
    .options {
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;

        display: none;

        min-width: 100%;

        &.open {
            display: flex;
            flex-direction: column;

            min-width: calc(100% - (var(--ng-select-border-width, 1px) * 2));

            border-width: var(--ng-select-border-width, 1px);
            border-style: solid;
            border-color: inherit;
        }
    }
}