@import "mixins";

:host {
  > .contents {
    &:not(.multiline) {
      white-space: nowrap;
      text-overflow: clip;
    }

    &:empty:before {
      content: attr(data-placeholder);
      color: var(--ng-text-placeholder-color, initial);
    }
  }

  ::ng-deep * {
    cursor: text;
  }

  overflow: auto;

  &:not(.multiline) {
    > .contents {
      white-space: nowrap;
      text-overflow: clip;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
