@import 'mixins';

:host {
	display: grid;
	overflow: auto;

	grid-area: route;
	grid-template-areas: 'docs nestedForm'
	'menu menu';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr auto;

	.docs {
		padding: 1em;

		grid-area: docs;
	}

	.nestedForm {
		padding: 1em;

		grid-area: nestedForm;
	}

	.menu {
		display: flex;
		overflow: auto;

		border: 0.5em solid transparent;
		background-color: var(--color-parsers-menu-background);

		grid-area: menu;

		> div {
			@include clickButtonColor(click-button, true);
			@include button();

			margin: 0 0.25em;
			&:last-child {
				margin-right: 0;
			}
			&:first-child {
				margin-left: 0;
			}
			&.dangerousButton {
				@include clickButtonColor(dangerous-click-button);
			}
		}
	}
}

