@import "mixins";
//$image-height-max: 430px;
//$image-width-max: 920px;

:host {
  display: grid;
  overflow-y: auto;
  overflow: hidden;
  background-color: var(--color-preview-background);

  --preview-image-size: 0.4;
  --image-width-max: 920px;
  --image-height-max: 430px;
  --games-long-width: 920px;
  --games-long-height: 430px;
  --games-tall-width: 600px;
  --games-tall-height: 900px;
  --games-hero-width: 1920px;
  --games-hero-height: 620px;
  --games-logo-width: 960px;
  --games-logo-height: 540px;
  --games-icon-width: 400px;
  --games-icon-height: 400px;
  --details-width: 0%;
  grid-area: route;
  grid-template-areas:
    "upperMenu upperMenu"
    "excludes excludes"
    "detailsUpper detailsUpper"
    "urls urls"
    "entries detailsLower"
    "lowerMenu lowerMenu";
  grid-template-rows: auto auto auto auto 1fr auto;
  grid-template-columns: auto var(--details-width);
  .loadingSpinner {
    &:before {
      display: block;
      align: center;
      justify-content: center;
      width: 5em;
      height: 5em;
      margin: 40vh auto auto;

      content: "";
      animation: loadingSpinner 0.6s linear infinite;

      border-top: 0.325em solid transparent;
      border-top-color: var(--color-app-loading-spinner);
      border-right: 0.325em solid transparent;
      border-radius: 50%;
    }
  }
  .preview-description {
    height: 100%;
    grid-area: entries;
    z-index: 3;
    width: 100%;
    max-width: 94vw;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    color: var(--color-markdown-h1);
    + div + div {
      background: transparent;
    }
    .fake-btn {
      @include button();
      @include clickButtonColor(click-button);
      color: var(--color-click-button-text-hover);
      background-color: var(--color-click-button-background-hover);
    }
    strong {
      color: var(--color-markdown-h1);
    }
    h1 {
      line-height: 1.25;
      margin: var(--margin-markdown-hx);
      padding-bottom: 0.3em;
      border-bottom: 1px solid var(--color-markdown-underline);
      font-size: var(--font-markdown-h1);
      font-family: var(--font-family-markdown-h1);
      color: var(--color-markdown-h1);
      margin-top: 0;
    }
    p {
      margin: 0 0 1rem 0;
      color: var(--color-markdown-text);
    }
    ol {
      li {
        margin-bottom: 12px;
      }
    }
  }

  .upperMenu {
    display: grid;
    border: 0.5em solid transparent;
    background-color: var(--color-preview-menu-background);

    align-items: center;
    grid-area: upperMenu;
    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: auto;

    ng-select,
    ng-text-input {
      margin-bottom: 0;
    }

    .imageCounter {
      color: var(--color-preview-text);

      grid-column: 1;
    }
    .selectType {
      grid-column: 2;
      width: var(--width-preview-select-type);
      font-size: 1em;
      margin-right: 0.75em;
      color: var(--color-preview-text);
    }
    .selectCategories {
      grid-column: 2;
      width: var(--width-preview-select-cats);
      font-size: 1em;
      margin-right: 0.75em;
      color: var(--color-preview-text);
    }
    .selectParsers {
      grid-column: 2;
      width: 9em;
      font-size: 1em;
      margin-right: 0.75em;
      color: var(--color-preview-text);
    }

    .slider {
      display: flex;
      align-items: center;
      grid-column: 3;
      > div,
      > input {
        margin: 0 0.25em;
      }
      > div {
        width: 3.5em;

        color: var(--color-preview-text);
      }
      > input {
        @include webkitSlider(preview-app-zoom-slider);
      }
    }
    .appFilter {
      @include ngTextInputColor(input);
      @include ngTextInput();
      margin-bottom: 0;
      width: 13em;
      grid-column: 4;
    }
  }

  .lowerMenu {
    display: flex;
    overflow-y: auto;
    border: 0.5em solid transparent;
    background-color: var(--color-preview-menu-background);

    align-items: center;
    grid-area: lowerMenu;

    > div {
      @include button();
      @include clickButtonColor(click-button);
      margin: 0 0.25em;
      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        margin-left: 0;
      }
      &.dangerousButton {
        @include clickButtonColor(dangerous-click-button, true);
      }
    }
  }
  .excludes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-preview-menu-background);
    padding: 0.2em 0.8em 0.4em;
    grid-area: excludes;
    > .titleGroup {
      color: var(--color-preview-text);
    }
    > .buttonGroup {
      display: flex;
      justify-content: right;
      margin-right: 0.5em;
      > .excludeButton {
        @include button();
        @include clickButtonColor(click-button);
        margin-right: 1em;
        &.dangerousButton {
          @include clickButtonColor(dangerous-click-button, true);
        }
      }
    }
  }
  .detailsUpper {
    grid-area: detailsUpper;
    display: flex;
    padding: 0.2em 0.8em 0.4em;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-preview-menu-background);
    > .detailsTitle {
      color: var(--color-preview-text);
    }
    > .buttonGroup {
      display: flex;
      justify-content: right;
      > .detailsButton {
        @include button();
        @include clickButtonColor(click-button);
        margin-left: 1em;
        &.dangerousButton {
          @include clickButtonColor(dangerous-click-button, true);
        }
      }
    }
  }
  .detailsLower {
    @include webkitScrollbar(preview-scrollbar);
    grid-area: detailsLower;
    display: grid;
    grid-template-areas:
      "detailsOptions"
      "detailsList";
    grid-template-rows: auto 1fr;
    overflow-y: auto;
    @keyframes loadingSpinner {
      to {
        transform: rotate(360deg);
      }
    }
    .detailsOptions {
      padding: 1em 1em 0.5em 1em;
      grid-area: detailsOptions;
      .detailsSearch {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .ngTextInput {
          @include ngTextInputColor(input);
          @include ngTextInput();
          width: 100%;
        }
        .clickButton2 {
          @include button();
          @include clickButtonColor(click-button);
          margin: 0 0 0 0.25em;
          margin-bottom: var(--margin-input-text);
        }
      }
    }
    .appResults {
      grid-area: detailsList;
      > .approw {
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: var(--color-preview-user-background);
        color: var(--color-preview-text);
        margin-bottom: 1em;
        &:hover,
        &.selected {
          background-color: var(--color-ng-select-option-background-hover);
          color: var(--color-ng-select-option-text-hover);
        }
        .app {
          flex-shrink: 0;
          border: solid 2px var(--color-preview-image-border);
          margin: 0.75em;
          width: calc(var(--preview-image-size) * var(--games-tall-width));
          height: calc(var(--preview-image-size) * var(--games-tall-height));
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100%;
        }
        .apptitle {
          margin-left: 5em;
        }
      }
    }
  }

  .urls {
    display: flex;
    align-items: center;
    justify-content: left;
    background: var(--color-preview-menu-background);
    padding: 0.2em 0.8em 0.4em;
    color: var(--color-preview-text);
    > .stopButton {
      @include button();
      @include clickButtonColor(click-button);
      margin-right: 1em;
    }
    grid-area: urls;
  }

  .entries {
    @include webkitScrollbar(preview-scrollbar);
    overflow-y: auto;
    &.detailsOpen {
      ::-webkit-scrollbar {
        width: 0.75em;
      }
      overflow-y: scroll;
    }

    grid-area: entries;

    > .directory {
      > .title {
        display: var(--display-preview-title);
        padding: 0.5em 0.25em;
        border-top: 1px solid var(--color-preview-separator);
        border-bottom: 1px solid var(--color-preview-separator);
        background-color: var(--color-preview-directory-background);
        svg {
          --color-select-arrow-down: var(--color-preview-text);
          --select-arrow-down-width: 30;
        }
        span {
          margin-left: 0.25em;

          color: var(--color-preview-text);
        }
      }
      > .user {
        > .title {
          padding: var(--padding-preview-separator);

          border-bottom: 1px solid var(--color-preview-separator);
          background-color: var(--color-preview-user-background);

          align-items: center;

          svg {
            --color-select-arrow-down: var(--color-preview-text);
            --select-arrow-down-width: 30;
          }
          span {
            margin-left: 0.25em;
            color: var(--color-preview-text);
          }
        }
        > .apps {
          margin: 0.75em;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          align-content: space-around;
          justify-content: left;
          margin-left: 1vw;
          > .title {
            padding: 0.5em 0.25em;
            flex-basis: 100%;
            border: 1px solid;
            border-color: var(--color-preview-separator);
            background-color: var(--color-preview-user-background);
            span {
              margin-left: 0.25em;
              color: var(--color-preview-text);
            }
          }

          > .app {
            flex-shrink: 0;
            border: solid 2px var(--color-preview-image-border);

            margin: 0.75em;

            //						width: calc(var(--preview-image-size) * #{$image-width-max});
            //						height: calc(var(--preview-image-size) * #{$image-height-max});
            width: calc(var(--preview-image-size) * var(--image-width-max));
            height: calc(var(--preview-image-size) * var(--image-height-max));
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto 75%;
            &.showExcludes:not(.isExcluded) {
              border: solid 3px;
              border-color: #099 !important;
            }
            &.showExcludes.isExcluded {
              opacity: 0.3;
            }
            &.longStyle {
              width: calc(var(--preview-image-size) * var(--games-long-width));
              height: calc(var(--preview-image-size) * var(--games-long-height));
            }
            &.tallStyle {
              width: calc(var(--preview-image-size) * var(--games-tall-width));
              height: calc(var(--preview-image-size) * var(--games-tall-height));
            }
            &.heroStyle {
              width: calc(var(--preview-image-size) * var(--games-hero-width));
              height: calc(var(--preview-image-size) * var(--games-hero-height));
            }
            &.logoStyle {
              width: calc(var(--preview-image-size) * var(--games-logo-width));
              height: calc(var(--preview-image-size) * var(--games-logo-height));
            }
            &.iconStyle {
              width: calc(var(--preview-image-size) * var(--games-icon-width));
              height: calc(var(--preview-image-size) * var(--games-icon-height));
            }
            &.retrieving {
              background-color: var(--color-preview-image-retrieving-url-background);
              border-color: var(--color-preview-image-retrieving-url-border);
            }

            &.noImages {
              background-color: var(--color-preview-image-not-found-background);
              border-color: var(--color-preview-image-not-found-border);
            }

            &.downloading {
              background-color: var(--color-preview-image-downloading-background);
              border-color: var(--color-preview-image-downloading-border);
            }

            &.failed {
              background-color: var(--color-preview-image-failed-background);
              border-color: var(--color-preview-image-failed-border);
            }

            &.imageLoaded {
              background-size: contain;
            }

            > .appOverlay {
              --row-height: calc(var(--preview-image-size) * 120px);

              height: 100%;
              display: grid;

              grid-template-areas:
                "appInfo appInfo"
                "imageSelector imageSelector"
                "bottomPanel bottomPanel";

              grid-template-rows: var(--row-height) 1fr var(--row-height);

              grid-template-columns: auto 1fr;

              background-color: var(--color-preview-app-hover-background);

              > .icon {
                grid-area: icon;

                width: var(--row-height);
                height: var(--row-height);
              }

              > .appInfo {
                display: grid;
                grid-area: appInfo;

                grid-template-areas:
                  "title title"
                  "provider imageIndex";

                grid-template-rows: 1fr auto;
                grid-template-columns: 1fr auto;

                > .title {
                  display: grid;
                  align-items: center;
                  grid-area: title;
                  overflow: hidden;

                  padding: 0.1em;

                  white-space: nowrap;
                  text-overflow: ellipsis;

                  font-size: calc(var(--preview-image-size) * 3em);

                  color: var(--color-preview-text);
                }

                > .provider {
                  grid-area: provider;
                  overflow: hidden;

                  padding: 0.1em;

                  white-space: nowrap;
                  text-overflow: ellipsis;

                  font-size: calc(var(--preview-image-size) * 2em);

                  color: var(--color-preview-text);
                }

                > .imageIndex {
                  grid-area: imageIndex;

                  padding: 0.1em;

                  font-size: calc(var(--preview-image-size) * 2em);

                  color: var(--color-preview-text);
                }
              }

              > .imageSelector {
                display: grid;
                grid-area: imageSelector;

                grid-template-areas: "previous . next";

                grid-template-columns: auto 1fr auto;

                > .previous,
                > .next {
                  width: var(--row-height);
                  height: 100%;
                }

                > .previous {
                  grid-area: previous;
                }

                > .next {
                  grid-area: next;
                }
              }

              > .bottomPanel {
                display: grid;
                grid-area: bottomPanel;
                grid-template-areas:
                  "title"
                  "buttons";
                grid-gap: 2px;
                grid-auto-flow: row;
                grid-auto-columns: 1fr;
                grid-auto-rows: 50% 50%;

                > .configTitle {
                  grid-area: title;
                  text-align: right;
                  padding: 0.1em;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  font-size: calc(var(--preview-image-size) * 2em);

                  color: var(--color-preview-text);
                }

                > .appButtons {
                  grid-area: buttons;
                  display: flex;

                  justify-content: flex-end;
                  align-items: flex-end;

                  --color-refresh-images: var(--color-preview-app-button);
                  --color-image-alert: var(--color-preview-app-button);

                  --color-refresh-images-hover: var(--color-preview-app-button-hover);
                  --color-image-alert-hover: var(--color-preview-app-button-hover);

                  --color-refresh-images-active: var(--color-preview-app-button-active);
                  --color-image-alert-active: var(--color-preview-app-button-active);

                  > .button {
                    height: calc(var(--row-height) * 0.5);
                    padding: 0.2em;
                  }

                  > .separator {
                    flex: 1 1 auto;
                  }
                  .classic-buttons {
                    display: flex;
                    width: 100%;
                    align-items: flex-end;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-around;
                    .separator {
                      flex-basis: 50%;
                    }
                  }
                }
              }
            }
          }
        }

        &.hidden {
          //align-self: start;
          //grid-auto-rows: auto auto;

          > .title {
            svg {
              transform: rotate(-90deg);
            }
          }
          > .apps {
            display: none;
          }
        }
      }

      &.hidden {
        //grid-auto-rows: auto auto;

        > .title {
          svg {
            transform: rotate(-90deg);
          }
        }
        > .user {
          display: none;
        }
      }
    }
  }
}
