@import 'mixins';
$item-height-max: 430px;
$item-width-max: 920px;
$item-radio: 430/920;

:host {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    flex: 1;

    background-color: var(--color-preview-background);

    --item-size: 0.4;

    >.menu {
        display: flex;

        border-top: 1px solid var(--color-preview-menu-border);
        background-color: var(--color-preview-menu-background);

        justify-content: flex-start;
        >div {
            cursor: default;
            user-select: none;
            >div {
                margin: 0.5em 0 0.5em 0.75em;
            }
        }

        .clickButton {
            font-family: 'Roboto';

            display: inline-block;

            padding: 0.2em 0.5em;

            cursor: pointer;
            user-select: none;

            border: 1px solid;
        }

        .generate {
            @include click-button-color(preview-generate-button);
        }

        .save {
            @include click-button-color(preview-save-button);
        }

        .offline {
            @include toggle-button-color(preview-offline-button);
        }

        .greedy {
            @include toggle-button-color(preview-greedy-button);
        }
    }
    >.items {
        display: flex;
        overflow-y: auto;
        flex: 1;

        padding: calc(var(--item-size) * 4em) 1em;

        background-color: var(--color-preview-items-background);

        align-items: center;
        flex-wrap: wrap;
        @include webkit-scrollbar(preview-scrollbar);
        justify-content: space-around;
        .item {
            margin: calc(var(--item-size) * 4em) 1em;

            .background {
                font-size: calc(var(--item-size) * 4em);
                font-weight: 300;

                position: relative;

                width: calc(var(--item-size) * #{$item-width-max});
                height: calc(var(--item-size) * #{$item-height-max});

                cursor: default;
                user-select: none;

                border: solid 2px var(--color-preview-item-image-border);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;

                &.loading:before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 10%;
                    left: 0;

                    display: block;

                    width: calc(30% * #{$item-radio});
                    height: 30%;
                    margin: auto;

                    content: '';
                    animation: spinner 0.6s linear infinite;

                    border-top: 0.125em solid transparent;
                    border-right: 0.125em solid transparent;
                    border-radius: 50%;
                }

                &.loading:after {
                    position: absolute;
                    bottom: 10%;

                    width: 100%;

                    text-align: center;
                }

                &.loading {
                    &.retrievingUrl {
                        background-color: var(--color-preview-item-retrieving-url-background);
                        &:before {
                            border-top-color: var(--color-preview-item-retrieving-url-spinner);
                        }
                        &:after {
                            content: 'Retrieving URLs';

                            color: var(--color-preview-item-retrieving-url-text);
                        }
                    }
                    &.donwloadingImage {
                        background-color: var(--color-preview-item-downloading-image-background);
                        &:before {
                            border-top-color: var(--color-preview-item-downloading-image-spinner);
                        }
                        &:after {
                            content: 'Downloading image';

                            color: var(--color-preview-item-downloading-image-text);
                        }
                    }
                }

                &.empty {
                    background-color: var(--color-preview-item-empty-background);
                    &:before {
                        font-size: 1.75em;
                        font-weight: 400;

                        position: absolute;
                        top: 25%;
                        right: 0;
                        left: 0;

                        display: block;

                        content: ':(';
                        text-align: center;

                        color: var(--color-preview-item-empty-sad-face);
                    }
                    &:after {
                        font-size: 1em;

                        position: absolute;
                        top: 65%;
                        right: 0;
                        left: 0;

                        display: block;

                        content: 'No images are available';
                        text-align: center;

                        color: var(--color-preview-item-empty-text);
                    }
                }

                &.failed {
                    cursor: pointer;

                    background-color: var(--color-preview-item-failed-background);
                    &:before {
                        font-size: 1.75em;
                        font-weight: 400;

                        position: absolute;
                        top: 25%;
                        right: 0;
                        left: 0;

                        display: block;

                        content: ':(';
                        text-align: center;

                        color: var(--color-preview-item-failed-sad-face);
                    }
                    &:after {
                        font-size: 1em;

                        position: absolute;
                        top: 65%;
                        right: 0;
                        left: 0;

                        display: block;

                        content: 'Download failed. Click to retry';
                        text-align: center;

                        color: var(--color-preview-item-failed-text);
                    }
                }

                @keyframes spinner {
                    to {
                        transform: rotate(360deg);
                    }
                }

                .previousImage, .nextImage {
                    position: absolute;
                    top: 0;

                    width: 20%;
                    height: 100%;

                    cursor: default;

                    svg {
                        width: 100%;
                        height: 100%;
                        margin: auto;
                        polyline {
                            stroke: transparent;
                        }
                    }

                    &:hover {
                        background-color: var(--color-preview-image-arrow-background-hover);
                        svg {
                            polyline {
                                stroke: var(--color-preview-image-arrow-color-hover);
                            }
                        }
                    }
                    &:active {
                        background-color: var(--color-preview-image-arrow-background-active);
                        svg {
                            polyline {
                                stroke: var(--color-preview-image-arrow-color-active);
                            }
                        }
                    }
                }

                .previousImage {
                    left: 0;
                }

                .nextImage {
                    right: 0;
                }

                .info, .title {
                    left: -2px;

                    visibility: hidden;

                    box-sizing: border-box;
                    width: calc(100% + 4px);
                    padding: 0.25em;

                    transition: visibility 0s linear 0.25s, opacity 0.25s ease;

                    opacity: 0;
                }

                .info {
                    font-size: 0.7em;

                    position: absolute;
                    top: 100%;

                    display: flex;

                    color: var(--color-preview-item-downloaded-info-text);
                    background-color: var(--color-preview-item-downloaded-info-background);

                    .imageInfo, .imageIndex {
                        flex: 1 1 auto;
                    }

                    .imageInfo {
                        text-align: left;
                    }

                    .imageIndex {
                        text-align: right;
                    }
                }

                .title {
                    position: absolute;
                    bottom: 100%;

                    overflow: hidden;

                    white-space: nowrap;
                    text-overflow: ellipsis;

                    color: var(--color-preview-item-downloaded-title-text);
                    background-color: var(--color-preview-item-downloaded-title-background);
                }
            }

            &:hover {
                .background {
                    .info, .title {
                        visibility: visible;

                        transition-delay: 0s;

                        opacity: 1;
                    }
                }
            }
        }
    }
}