@import 'mixins';
$image-height-max: 430px;
$image-width-max: 920px;
$image-ratio: 430/920;

:host {
	display: grid;
	overflow-y: auto;

	background-color: var(--color-preview-background);

	--preview-image-size: 0.4;
	grid-area: route;
	grid-template-areas: 'upperMenu' 'entries' 'lowerMenu';
	grid-template-rows: auto 1fr auto;

	.upperMenu {
		display: grid;

		border: 0.5em solid transparent;
		background-color: var(--color-preview-menu-background);

		align-items: center;
		grid-area: upperMenu;
		grid-template-columns: auto 1fr auto auto;
		grid-template-rows: auto;

		.imageCounter {
			color: var(--color-preview-text);

			grid-column: 1;
		}
		.slider {
			display: flex;

			align-items: center;
			grid-column: 3;
			> div, > input {
				margin: 0 0.25em;
			}
			> div {
				width: 3.5em;

				color: var(--color-preview-text);
			}
			> input {
				@include webkitSlider(preview-app-zoom-slider);
			}
		}
		.appFilter {
			@include inputColor(input);
			@include input();

			grid-column: 4;
		}
	}

	.lowerMenu {
		display: flex;

		border: 0.5em solid transparent;
		background-color: var(--color-preview-menu-background);

		align-items: center;
		grid-area: lowerMenu;

		> div {
			@include button();
			@include clickButtonColor(click-button);

			margin: 0 0.25em;
			&:last-child {
				margin-right: 0;
			}
			&:first-child {
				margin-left: 0;
			}
			&.dangerousButton {
				@include clickButtonColor(dangerous-click-button, true);
			}
		}
	}

	.entries {
		@include webkitScrollbar(preview-scrollbar);

		display: flex;
		overflow-y: auto;
		flex-direction: column;
		flex: 1;

		grid-area: entries;

		> .directory {
			display: flex;
			flex-direction: column;
			flex: 1 0 auto;

			> .title {
				display: flex;

				padding: 0.5em 0.25em;

				border-top: 1px solid var(--color-preview-separator);
				border-bottom: 1px solid var(--color-preview-separator);
				background-color: var(--color-preview-directory-background);

				align-items: center;
				flex-shrink: 0;
				svg {
					polyline {
						stroke: var(--color-preview-text);
					}
				}
				span {
					margin-left: 0.25em;

					color: var(--color-preview-text);
				}
			}
			> .user {
				display: flex;
				flex-direction: column;
				flex: 1 0 auto;
				> .title {
					display: flex;

					padding: 0.25em 0.25em 0.25em 1.375em;

					border-bottom: 1px solid var(--color-preview-separator);
					background-color: var(--color-preview-user-background);

					align-items: center;
					flex-shrink: 0;
					svg {
						--color-select-arrow-down: var(--color-preview-text);
						--select-arrow-down-width: 30;
					}
					span {
						margin-left: 0.25em;

						color: var(--color-preview-text);
					}
				}
				> .apps {
					display: flex;
					flex: 1 0 auto;

					margin: 1.9em 0.5em;

					align-items: center;
					flex-wrap: wrap;
					justify-content: space-around;
					> .app {
						flex-shrink: 0;

						position: relative;

						width: calc(var(--preview-image-size) * #{$image-width-max});
						margin: 1.9em 0.5em;

						> .topBar {
							position: absolute;
							bottom: 100%;

							width: 100%;
							> .title, > .exe {
								overflow: hidden;

								padding: 0.1em 0;

								white-space: nowrap;
								text-overflow: ellipsis;
							}

							> .title {
								font-size: 1.3em;
							}

							> .exe {
								font-size: 0.9em;
							}
						}
						> .image {
							height: calc(var(--preview-image-size) * #{$image-height-max});

							border: solid 2px var(--color-preview-app-image-border);
							background-repeat: no-repeat;
							background-position: center center;
							background-size: cover;

							--select-arrow-left-background-hover:var(--color-preview-image-arrow-background);
							--select-arrow-right-background-hover: var(--color-preview-image-arrow-background);
							--select-arrow-left-background-active: var(--color-preview-image-arrow-background);
							--select-arrow-right-background-active: var(--color-preview-image-arrow-background);

							.previousImage, .nextImage {
								position: absolute;
								top: 0;

								width: 20%;
								height: 100%;

								cursor: default;
							}

							.previousImage {
								left: 0;
							}

							.nextImage {
								right: 0;
							}

							&.staticMessage {
								font-size: calc(var(--preview-image-size) * 4em);
								&:before {
									font-size: 1.75em;
									font-weight: 400;

									position: absolute;
									top: 0;
									right: 0;
									bottom: 20%;
									left: 0;

									display: block;

									height: 30%;
									margin: auto;

									text-align: center;
								}
								&:after {
									font-size: 1em;

									position: absolute;
									bottom: 2px;

									overflow: hidden;

									width: calc(100% - 4px);
									height: 35%;

									text-align: center;
								}
							}

							&.spinnerMessage {
								font-size: calc(var(--preview-image-size) * 4em);
								&:before {
									position: absolute;
									top: 0;
									right: 0;
									bottom: 20%;
									left: 0;

									display: block;

									width: calc(30% * #{$image-ratio});
									height: 30%;
									margin: auto;

									content: '';
									animation: spinner 0.6s linear infinite;

									border-top: 0.125em solid transparent;
									border-right: 0.125em solid transparent;
									border-radius: 50%;
								}
								&:after {
									position: absolute;
									bottom: 2px;

									overflow: hidden;

									width: calc(100% - 4px);
									height: 35%;

									text-align: center;
								}
							}

							&.littleSpinner {
								font-size: calc(var(--preview-image-size) * 4em);

								&:before {
									position: absolute;
									right: calc(5% * #{$image-ratio});
									bottom: 5%;

									display: block;

									width: calc(25% * #{$image-ratio});
									height: 25%;
									margin: auto;

									content: '';
									animation: spinner 0.6s linear infinite;

									border-top: 0.125em solid var(--color-preview-image-retrieving-url-spinner);
									border-right: 0.125em solid transparent;
									border-radius: 50%;
								}
							}

							&.notFound {
								background-color: var(--color-preview-image-not-found-background);
								&:before {
									content: ':(';

									color: var(--color-preview-image-not-found-sad-face);
								}
								&:after {
									content: attr(data-msg);

									color: var(--color-preview-image-not-found-text);
								}
							}

							&.failed {
								cursor: pointer;

								background-color: var(--color-preview-image-failed-background);
								&:before {
									content: ':(';

									color: var(--color-preview-image-failed-sad-face);
								}
								&:after {
									content: attr(data-msg);

									color: var(--color-preview-image-failed-text);
								}
							}

							&.retrieving {
								background-color: var(--color-preview-image-retrieving-url-background);
								&:before {
									border-top-color: var(--color-preview-image-retrieving-url-spinner);
								}
								&:after {
									content: attr(data-msg);

									color: var(--color-preview-image-retrieving-url-text);
								}
							}

							&.downloading {
								background-color: var(--color-preview-image-downloading-background);
								&:before {
									border-top-color: var(--color-preview-image-downloading-spinner);
								}
								&:after {
									content: attr(data-msg);

									color: var(--color-preview-image-downloading-text);
								}
							}

							@keyframes spinner {
								to {
									transform: rotate(360deg);
								}
							}
						}
						> .icon{
							left: 0;
							top: 0;
							position: absolute;
							width: calc(var(--preview-image-size) * 128px);
							height: calc(var(--preview-image-size) * 128px);
							border: 2px solid var(--color-preview-icon-border);

							img{
								width: 100%;
								height: 100%;
							}

							.previousIcon, .nextIcon {
								position: absolute;
								top: 0;

								width: 33%;
								height: 100%;

								cursor: default;
								--select-arrow-left-background-hover:var(--color-preview-icon-arrow-background);
								--select-arrow-right-background-hover: var(--color-preview-icon-arrow-background);
								--select-arrow-left-background-active: var(--color-preview-icon-arrow-background);
								--select-arrow-right-background-active: var(--color-preview-icon-arrow-background);
							}

							.previousIcon {
								left: 0;
							}

							.nextIcon {
								right: 0;
							}
						}
						> .bottomBar {
							position: absolute;
							top: 100%;

							display: grid;

							width: 100%;

							align-items: center;
							grid-template-columns: 1fr auto;
							grid-template-rows: auto auto;

							> .provider, > .imageIndex, > .uploader, > .refresh {
								font-size: 0.9em;

								padding: 0.1em 0;
							}
							> .uploader, > .provider {
								overflow: hidden;

								white-space: nowrap;
								text-overflow: ellipsis;
							}
							> .refresh {
								@include button();
								@include clickButtonColor(click-button);

								font-size: 0.8em;
							}

							> .imageIndex {
								justify-self: right;
							}
						}

						> .topBar, > .bottomBar {
							visibility: hidden;

							box-sizing: border-box;
							padding: 0.25em;

							transition: visibility 0s linear 0.25s, opacity 0.25s ease;

							opacity: 0;
							color: var(--color-preview-text);
							background-color: var(--color-preview-app-info-bar-background);
						}

						&:hover {
							> .topBar, > .bottomBar {
								visibility: visible;

								transition-delay: 0s;

								opacity: 1;
							}
						}
					}
				}
				&.hidden {
					> .title {
						svg {
							transform: rotate(-90deg);
						}
					}
					> .apps {
						display: none;
					}
				}
			}
			&.hidden {
				> .title {
					svg {
						transform: rotate(-90deg);
					}
				}
				> .user {
					display: none;
				}
			}
		}
	}
}