@import 'mixins';
//$image-height-max: 430px;
//$image-width-max: 920px;

:host {
  display: grid;
  overflow-y: auto;

  background-color: var(--color-preview-background);

  --preview-image-size: 0.4;
  --image-width-max: 920px;
  --image-height-max: 430px;
  --games-long-width: 920px;
  --games-long-height: 430px;
  --games-tall-width: 600px;
  --games-tall-height: 900px;
  --games-hero-width: 1920px;
  --games-hero-height: 620px;
  --games-logo-width: 960px;
  --games-logo-height: 540px;
  --games-icon-width: 400px;
  --games-icon-height: 400px;
  grid-area: route;
  grid-template-areas: 'upperMenu' 'entries' 'lowerMenu';
  grid-template-rows: auto 1fr auto;

  .upperMenu {
    display: grid;

    border: 0.5em solid transparent;
    background-color: var(--color-preview-menu-background);

    align-items: center;
    grid-area: upperMenu;
    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: auto;

    .imageCounter {
      color: var(--color-preview-text);

      grid-column: 1;
    }
    .selectType {
      grid-column: 2;
      width: 9em;
      font-size: .75em;
      margin-right: .75em;
      color: var(--color-preview-text);
    }
    .selectCategories {
      grid-column: 2;
      width: 12em;
      font-size: .75em;
      margin-right: .75em;
      color: var(--color-preview-text);
    }
    .slider {
      display: flex;
      align-items: center;
      grid-column: 3;
      > div, > input {
        margin: 0 0.25em;
      }
      > div {
        width: 3.5em;

        color: var(--color-preview-text);
      }
      > input {
        @include webkitSlider(preview-app-zoom-slider);
      }
    }
    .appFilter {
      @include ngTextInputColor(input);
      @include ngTextInput();

      width: 13em;

      grid-column: 4;
    }
  }

  .lowerMenu {
    display: flex;

    border: 0.5em solid transparent;
    background-color: var(--color-preview-menu-background);

    align-items: center;
    grid-area: lowerMenu;

    > div {
      @include button();
      @include clickButtonColor(click-button);

      margin: 0 0.25em;
      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        margin-left: 0;
      }
      &.dangerousButton {
        @include clickButtonColor(dangerous-click-button, true);
      }
    }
  }

  .entries {
    @include webkitScrollbar(preview-scrollbar);

    overflow-y: auto;

    grid-area: entries;

    > .directory {
      > .title {
        padding: 0.5em 0.25em;
        border-top: 1px solid var(--color-preview-separator);
        border-bottom: 1px solid var(--color-preview-separator);
        background-color: var(--color-preview-directory-background);
        svg {
          --color-select-arrow-down: var(--color-preview-text);
          --select-arrow-down-width: 30;
        }
        span {
          margin-left: 0.25em;

          color: var(--color-preview-text);
        }
      }
      > .user {
        > .title {
          padding: 0.25em 0.25em 0.25em 1.375em;

          border-bottom: 1px solid var(--color-preview-separator);
          background-color: var(--color-preview-user-background);

          align-items: center;

          svg {
            --color-select-arrow-down: var(--color-preview-text);
            --select-arrow-down-width: 30;
          }
          span {
            margin-left: 0.25em;
            color: var(--color-preview-text);
          }
        }

        > .apps{
          margin: 0.75em;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          align-content: space-around;
          justify-content: space-around;
          > .title {
            padding: 0.5em 0.25em;
            flex-basis: 100%;
            border-top: 1px solid var(--color-preview-separator);
            border-bottom: 1px solid var(--color-preview-separator);
            border-right: 1px solid var(--color-preview-separator);
            border-left: 1px solid var(--color-preview-separator);
            background-color: var(--color-preview-directory-background);
            span {
              margin-left: 0.25em;
              color: var(--color-preview-text);
            }
          }

          > .app {
            flex-shrink: 0;
            border: solid 2px var(--color-preview-image-border);

            margin: 0.75em;

            //						width: calc(var(--preview-image-size) * #{$image-width-max});
            //						height: calc(var(--preview-image-size) * #{$image-height-max});
            width: calc(var(--preview-image-size) * var(--image-width-max));
            height: calc(var(--preview-image-size) * var(--image-height-max));
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto 75%;

            &.longStyle {
              width: calc(var(--preview-image-size) * var(--games-long-width));
              height: calc(var(--preview-image-size) * var(--games-long-height));
            }
            &.tallStyle {
              width: calc(var(--preview-image-size) * var(--games-tall-width));
              height: calc(var(--preview-image-size) * var(--games-tall-height));
            }
            &.heroStyle {
              width: calc(var(--preview-image-size) * var(--games-hero-width));
              height: calc(var(--preview-image-size) * var(--games-hero-height));
            }
            &.logoStyle {
              width: calc(var(--preview-image-size) * var(--games-logo-width));
              height: calc(var(--preview-image-size) * var(--games-logo-height));
            }
            &.iconStyle {
              width: calc(var(--preview-image-size) * var(--games-icon-width));
              height: calc(var(--preview-image-size) * var(--games-icon-height));
            }
            &.retrieving {
              background-color: var(--color-preview-image-retrieving-url-background);
              border-color: var(--color-preview-image-retrieving-url-border);
            }

            &.noImages {
              background-color: var(--color-preview-image-not-found-background);
              border-color: var(--color-preview-image-not-found-border);
            }

            &.downloading {
              background-color: var(--color-preview-image-downloading-background);
              border-color: var(--color-preview-image-downloading-border);
            }

            &.failed {
              background-color: var(--color-preview-image-failed-background);
              border-color: var(--color-preview-image-failed-border);
            }

            &.imageLoaded {
              background-size: contain;
            }

            > .appOverlay {
              --row-height: calc(var(--preview-image-size) * 105px);

              height: 100%;
              display: grid;

              grid-template-areas:
              "icon appInfo"
              "imageSelector imageSelector"
              "bottomPanel bottomPanel";

              grid-template-rows: var(--row-height) 1fr var(--row-height);

              grid-template-columns: auto 1fr;

              background-color: var(--color-preview-app-hover-background);

              > .icon {
                grid-area: icon;

                width: var(--row-height);
                height: var(--row-height);
              }

              > .appInfo {
                display: grid;
                grid-area: appInfo;

                grid-template-areas:
                "title title"
                "provider imageIndex";

                grid-template-rows: 1fr auto;
                grid-template-columns: 1fr auto;

                > .title {
                  display: grid;
                  align-items: center;
                  grid-area: title;
                  overflow: hidden;

                  padding: 0.1em;

                  white-space: nowrap;
                  text-overflow: ellipsis;

                  font-size: calc(var(--preview-image-size) * 3em);

                  color: var(--color-preview-text);
                }

                > .provider {
                  grid-area: provider;
                  overflow: hidden;

                  padding: 0.1em;

                  white-space: nowrap;
                  text-overflow: ellipsis;

                  font-size: calc(var(--preview-image-size) * 2em);

                  color: var(--color-preview-text);
                }

                > .imageIndex {
                  grid-area: imageIndex;

                  padding: 0.1em;

                  font-size: calc(var(--preview-image-size) * 2em);

                  color: var(--color-preview-text);
                }
              }

              > .imageSelector {
                display: grid;
                grid-area: imageSelector;

                grid-template-areas: "previous . next";

                grid-template-columns: auto 1fr auto;

                > .previous, > .next {
                  width: var(--row-height);
                  height: 100%;
                }

                > .previous {
                  grid-area: previous;
                }

                > .next {
                  grid-area: next;
                }
              }

              > .bottomPanel {
                display: grid;
                grid-area: bottomPanel;

                grid-auto-flow: row;
                grid-auto-columns: 1fr;
                grid-auto-rows: 50% 50%;

                > .configTitle{
                  text-align: right;
                  padding: 0.1em;

                  font-size: calc(var(--preview-image-size) * 2em);

                  color: var(--color-preview-text);
                }

                > .appButtons {
                  display: flex;

                  justify-content: flex-end;
                  align-items: flex-end;

                  --color-refresh-images: var(--color-preview-app-button);
                  --color-image-alert: var(--color-preview-app-button);

                  --color-refresh-images-hover: var(--color-preview-app-button-hover);
                  --color-image-alert-hover: var(--color-preview-app-button-hover);

                  --color-refresh-images-active: var(--color-preview-app-button-active);
                  --color-image-alert-active: var(--color-preview-app-button-active);

                  > .button {
                    height: calc(var(--row-height) * 0.5);
                    padding: 0.2em;
                  }

                  > .separator {
                    flex: 1 1 auto;
                  }
                }
              }
            }
          }
        }

        &.hidden {
          //align-self: start;
          //grid-auto-rows: auto auto;

          > .title {
            svg {
              transform: rotate(-90deg);
            }
          }
          > .apps {
            display: none;
          }
        }
      }

      &.hidden {
        //grid-auto-rows: auto auto;

        > .title {
          svg {
            transform: rotate(-90deg);
          }
        }
        > .user {
          display: none;
        }
      }
    }
  }
}
