@import 'mixins';

:host {
  display: grid;
  overflow: auto;
  background-color: var(--color-settings-background);

  grid-area: route;
  grid-template-areas:
  'docs settings';

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;

  .docs {
    padding: 1em;
    grid-area: docs;
  }
  .settings {
    padding: 1em;
    grid-area: settings;
    @include webkitScrollbar(nested-form-scrollbar);
    background-color: var(--color-nested-form-background);
    overflow: auto;
    label {
      display: flex;

      margin: 0.75em 0 0.25em 0;

      color: var(--color-settings-text);
      &:first-child {
        margin: 0 0 0.25em 0;
      }
    }
    .section {
      margin-top: 1em;
      border-bottom: .1em solid;
      border-bottom-color: var(--color-nested-form-label);
    }
    .inputContainer {
      display: flex;
      flex-direction: column;

      margin: 0.25em 0 0.25em 0;
      padding-left: 1em;
      .inlineLeft {
        display: flex;
        align-items: center;
        margin: 0.25em 0em 0.25em 0;
      }
      .inlineGroup {
        display: flex;
        margin: 0.25em 0em 0.25em 0;
        justify-content: flex-start;
        align-items: center;
        .deleteItem {
          @include button();
          @include clickButtonColor(dangerous-click-button);
        }
      }

      .text {
        color: var(--color-settings-text);
      }

      .ngToggleButton {
        font-size: 1em;

        margin: 0.25em 0 0.25em 0;

        @include ngToggleButtonColor(ng-toggle-button);
      }

      .clickButton {
        @include button();
      }

      .dangerousButton {
        @include clickButtonColor(dangerous-click-button, true);
      }

      .ngSelect {
        width: 15em;

        @include ngSelectColor(ng-select);
        @include ngSelect();
      }
      .ngTextInput {
        @include ngTextInputColor(input);
        @include ngTextInput();

        width: 20em;

        grid-column: 4;
      }
      .clickButton2 {
        @include button();
        @include clickButtonColor(click-button);

        margin: 0 0 0 0.25em;

        grid-area: button;
      }
    }
  }
}
