@import "mixins";

:host {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;

  > div {
    visibility: visible;
    position: relative;

    display: flex;

    height: 275px;
    padding: 0.5em;

    cursor: move;

    background: var(--color-theme-background);

    .menu {
      display: flex;
      flex-direction: column;

      max-width: 10em;
      padding: 0 0.25em;

      cursor: default;

      background: var(--color-theme-menu-background);

      flex-shrink: 0;

      .themeContainer {
        overflow-x: hidden;
        overflow-y: auto;
        flex: 1;

        box-sizing: border-box;
        margin: 0 0.25em 0.25em 0.25em;

        background: var(--color-theme-themes-background);

        @include webkitScrollbar(theme-themes-scrollbar, 0.4em);
        &.empty {
          position: relative;
          &::before {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;

            display: inline-block;

            content: "No user themes";
            transform: translateY(-50%);
            text-align: center;

            color: var(--color-theme-text);
          }
        }
        * {
          cursor: pointer;
        }

        div {
          overflow: hidden;

          white-space: nowrap;
          text-overflow: ellipsis;

          color: var(--color-theme-text);
        }
      }

      .inputContainer {
        box-sizing: border-box;
        width: 100%;
        padding: 0.25em;

        input {
          font-family: "Roboto";
          font-size: 1em;

          box-sizing: border-box;
          width: 100%;
          margin: 0;
          padding: 0.2em 0.1em;

          cursor: text;

          @include ngTextInputColor(input);
        }
      }

      .buttonContainer {
        display: flex;

        flex-wrap: wrap;

        .clickButton {
          font-family: "Roboto";

          display: inline-block;

          margin: 0.15em 0.25em;
          padding: 0.2em 0.5em;

          cursor: pointer;
          user-select: none;
          text-align: center;

          border: 1px solid;

          flex-grow: 1;

          @include clickButtonColor(click-button);
        }
      }
    }

    .ruleContainer {
      font-family: "Hack";
      font-size: 0.75em;

      overflow: auto;

      color: var(--color-theme-text);
      background: var(--color-theme-rules-background);

      @include webkitScrollbar(theme-items-scrollbar, 0.5em);

      * {
        cursor: pointer;
      }

      > div {
        white-space: nowrap;

        color: var(--color-theme-text);

        span {
          display: inline-block;

          vertical-align: middle;
        }

        &:hover {
          color: var(--color-theme-rules-item-text-hover);
          background-color: var(--color-theme-rules-item-background-hover);
        }

        &.active {
          color: var(--color-theme-rules-item-text-active);
          background-color: var(--color-theme-rules-item-background-active);
        }

        .colorText {
          white-space: nowrap;
        }

        .colorSquare {
          width: 0.75em;
          height: 0.75em;
          margin: 0 0.5em;

          border: 1px solid var(--color-theme-rules-item-square);
        }
      }
    }

    .colorPickerContainer {
      position: relative;

      width: 232px;
      height: 275px;

      flex-shrink: 0;

      .colorPicker {
        position: absolute;

        * {
          cursor: initial;
          user-select: initial;
        }
      }
    }

    &.loading {
      &:before {
        position: absolute;
        z-index: 10000;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        content: "";

        background-color: var(--color-theme-loading-background);
      }
      &:after {
        position: absolute;
        z-index: 10001;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        width: 150px;
        height: 150px;
        margin: auto;

        content: "";
        animation: spinner 0.6s linear infinite;

        border-top: 0.325em solid transparent;
        border-top-color: var(--color-theme-loading-spinner);
        border-right: 0.325em solid transparent;
        border-radius: 50%;
      }
    }

    @keyframes spinner {
      to {
        transform: rotate(360deg);
      }
    }
  }
}
