@import 'mixins';

:host {
  display: grid;
  overflow: auto;

  grid-area: route;
  grid-template-areas: 'docs exceptions';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;

  label {
    display: flex;

    margin: 0 0 0.35em 0;

    color: var(--color-nested-form-label);

    align-items: center;
    grid-area: label;

  }
	.docs {
		padding: 1em;

		grid-area: docs;
	}
  .userExceptions {
    padding: 1em;
    grid-area: userVariables;
    @include webkitScrollbar(nested-form-scrollbar);
    background-color: var(--color-nested-form-background);
    overflow: auto;
  }
}
