@import 'mixins';

:host {
  display: grid;
  overflow: auto;

  grid-area: route;
  grid-template-areas:
  'upperMenu upperMenu'
  'docs exceptions'
  'menu menu';

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  

  .upperMenu {
    grid-area: upperMenu;
    background: var(--color-parsers-menu-background);
    display:grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto;
    align-items: center;

    .searchExceptions {
      grid-column: 3;
      @include ngTextInputColor(input);
      @include ngTextInput();
      margin: 0.5em;
      width: 20em
    }
    .slider {
      align-items: center;
      grid-column: 2;
      display: flex;
      .selectSort {
        width: 14em;
        color: var(--color-preview-text);
        margin-bottom: auto;
      }
    }
  }
  .docs {
    padding: 1em;
    grid-area: docs;
  }

  .userExceptions {
    padding: 1em;
    grid-area: exceptions;
    @include webkitScrollbar(nested-form-scrollbar);
    background-color: var(--color-nested-form-background);
    overflow: auto;
    label {
      display: flex;

      margin: 0 0 0.35em 0;

      color: var(--color-nested-form-label);

      align-items: center;
      grid-area: label;
			.infoButton {
				margin: 0 0.25em 0 0;
			}
    }
    .addItem {
      @include button();
      @include clickButtonColor(click-button);

      margin: 0 0 0 0.25em;
    }

    .inputContainer {
      display: flex;
      flex-direction: column;

      margin: 0.25em 0 1em 0;
      padding-left: 0em;
      .inlineLeft {
        display: flex;
        align-items: center;
        margin: 0.25em 0em 0.25em 0;
      }
      .inlineGroup {
        display: flex;
        margin: 0.25em 0em 0.25em 0;
        justify-content: space-between;
        align-items: center;
        .deleteItem {
          @include button();
          @include clickButtonColor(dangerous-click-button);
        }
      }

      .text {
        width: 30%;
        color: var(--color-settings-text);
      }

      .ngToggleButton {
        font-size: 1em;

        margin: 0.25em 1em 0.5em 0;

        @include ngToggleButtonColor(ng-toggle-button);
      }

      .clickButton {
        @include button();
      }

      .dangerousButton {
        @include clickButtonColor(dangerous-click-button, true);
      }

      .ngSelect {
        width: 15em;

        @include ngSelectColor(ng-select);
        @include ngSelect();
      }
      .ngTextInput {
        &.middle {
          margin: 0 0.25em 0 0.25em;
        }
        @include ngTextInputColor(input);
        @include ngTextInput();

        width: 70%;

        grid-column: 4;
      }
      .clickButton2 {
        @include button();
        @include clickButtonColor(click-button);

        margin: 0 0 0 0.25em;

        grid-area: button;
      }
    }

  }
  .menu {
    @include webkitScrollbar(parser-menu-scrollbar, 0.5em);

    display: flex;
    overflow: auto;

    border: 0.5em solid transparent;
    background-color: var(--color-parsers-menu-background);

    grid-area: menu;

    > div {
      @include clickButtonColor(click-button, true);
      @include button();

      margin: 0 0.25em;
      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        margin-left: 0;
      }
      &.dangerousButton {
        @include clickButtonColor(dangerous-click-button);
      }
    }
  }
}
